@charset "UTF-8";
/*--------------------------------------------------------------
# zoom in image effect
--------------------------------------------------------------*/
input[type=checkbox] {
    display: none;
  }
  
  .zoom-in img:hover{
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
  }
